#acrw_scaffold {
    width: 100%;
    min-width: 1250px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100vh;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 200;
}

#acrw_background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

/* Container */

#acrw_container {
    width: 370px;
    height: auto;
    max-height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    border-radius: 15px;
    border: 1px solid #525357;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    background-color: rgba(31, 32, 39, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    scale: 1.3;
}

#acrw_container_content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#acrw_title {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 10px;
}

/* input */

.acrw_input_container {
    width: 95%;
    height: 36px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.acrw_input_title {
    width: 36%;
    height: 100%;
    overflow: hidden;
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    color: #007aff;
    font-size: 13.5px;
    font-weight: bold;
    padding-right: 6px;
}

.acrw_input_content {
    width: 64%;
    min-width: 64%;
    height: 25px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.acrw_input_box {
    width: 92%;
    height: 25px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    color: white;
    font-size: 13px;
    background-color: #333A45;
}

/* Right checkboxes */

.acrw_input_checkbox_container {
    width: 95%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.acrw_input_checkbox_content {
    width: 64%;
    min-width: 64%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.acrw_input_checkbox_wrapper {
    width: 92%;
    height: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2px;
    margin-bottom: 2px;
}

.acrw_input_checkbox {
    width: 14px;
    height: 14px;
    overflow: hidden;
    position: relative;
}

.acrw_input_checkbox_name {
    width: auto;
    height: auto;
    overflow: hidden;
    margin-left: 8px;
    color: white;
    font-size: 13.5px;
}

/* Btn */

.acrw_btn_container {
    width: 85.2%;
    height: 29px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-top: 10px;
    background-color: #007aff;
}

.acrw_btn_title {
    width: auto;
    height: auto;
    color: white;
}