#acup_scaffold {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    background-color: #23272F;
    z-index: 1;
}

/* Header */

#acup_header {
    width: 100%;
    height: 130px;
    overflow: hidden;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    box-shadow: 0 4px 8px 0 rgba(35, 39, 47, 0.8);
    z-index: 1;
}

#acup_header_glass {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#acup_header_container {
    width: var(--aafw_scaffold_width);
    height: 100%;
    position: absolute;
    display: block;
    z-index: 1;
}

#acup_header_title_container {
    width: 100%;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 57px;
}

#acup_title {
    color: #D3E4FD;
}

#acup_table_header {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #007aff;
    font-size: 13px;
    font-weight: bold;
}

/* Container */

#acup_container {
    width: 100%;
    height: calc(100vh - 130px);
    overflow: visible;
    position: relative;
    background-color: transparent;
    padding-top: 6px;
    z-index: 0;
}