.prodmw_scaffold {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: #23272F;
    top: 0px;
    left: 0px;
    z-index: 1;
}

/* Feed List */

.prodmw_feed_list_container {
    width: 350px;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}

.prodmw_top_space {
    width: 1px;
    height: var(--dashboard_header_height);
}

/* default list */

.prodmw_feed_default_list {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    z-index: 0;
}

/* search list */

.prodmw_feed_search_list {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    transform: translateX(100%);
    align-items: center;
    padding-bottom: 30px;
    background-color: #23272F;
    z-index: 1;
}

/* Feed preview */

#prodmw_feed_preview {
    flex: 1;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#prodmw_feed_preview_wrapper {
    width: 95%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: none;
    color: #000;
    background-color: #fff;
    padding-inline: 30px;
    padding-block: 25px;
    margin-bottom: 20px;
    border-radius: 24px;
}

/* Right bar */

.prodmw_right_bar {
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: rgba(51, 58, 69, 0.4);
}



























/* ----------------------------------------------------- Feed ---------------------------------------------------- */

.prfew_scaffold {
    width: 96%;
    height: 60px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 0;
    /* box-shadow: 0px 1px 10px rgba(51, 58, 69, 0.6); */
}

.prfew_scaffold:hover {
    background-color: rgba(149, 167, 189, 0.12);
}

.prfew_scaffold:hover .prfew_btn_container {
    display: flex;
}

.prfew_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-inline: 5px;
    padding-block: 10px;
    background-color: transparent;
    z-index: 0;
}

.prfew_img_container {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #3B3F47;
    margin-inline: 4px;
}

.prfew_img {
    width: 30px;
    height: 30px;
}

.prfew_name {
    width: auto;
    height: auto;
    overflow: hidden;
    color: white;
    font-size: 13px;
    margin-block: 7px;
}

.prfew_bottom_line {
    width: 30%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: rgba(51, 58, 69, 0.9);
}

/* btn */

.prfew_btn_container {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #3B3F47;
    scale: 1;
    transition: scale 0.3 ease-in-out;
    z-index: 1;
}

.prfew_btn_container:active {
    scale: 0.9;
}