#phw_scaffold {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 20px;
    z-index: 2;
}

#phw_enterprise_name {
    width: auto;
    height: auto;
    color: white;
    font-weight: bold;
}