#pl_scaffold {
    width: 90%;
    height: 50px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pl_logo_icon {
    width: 35px;
    height: 35px;
}

#pl_app_name {
    width: auto;
    height: auto;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
}