#al_scaffold {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #23272F;
    z-index: 3;
}

#al_container {
    width: 'auto';
    height: 'auto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
}

#al_logo {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.al_input {
    width: 260px;
    height: 40px;
    overflow: hidden;
    position: relative;
    display: block;
    border-radius: 8px;
    border-width: 0;
    background-color: #333A45;
    margin-bottom: 8px;
    padding-inline: 12px;
    color: white;
}

#al_message_container {
    width: 260px;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    margin-bottom: 1px;
    transition: height 0.2s linear;
}

.al_btn {
    width: 260px;
    height: 40px;
    overflow: hidden;
    position: relative;
    display: block;
    border-radius: 8px;
    border-width: 0;
    margin-bottom: 8px;
    color: white;
    background-color: #007aff;
}