#prcrw_scaffold {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: 200;
}

#prcrw_container {
    width: 380px;
    height: auto;
    max-height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #525357;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    background-color: rgba(31, 32, 39, 0.4);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding-block: 12px;
    scale: 1.3;
}

#prcrw_header_title {
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
}

#prcrw_error_msg_container {
    width: 90%;
    height: auto;
    position: relative;
    display: none;
    text-align: center;
    color: #fa315a;
    font-size: 13px;
    margin-bottom: 5px;
}

#prcrw_form_container {
    width: 94%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

/* btn */

#prcrw_btn_container {
    width: 94%;
    height: 26px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#prcrw_create_btn {
    width: auto;
    height: 22px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #007aff;
    color: white;
    font-size: 12px;
    padding-inline: 14px;
}

#prcrw_cancel_btn {
    width: auto;
    height: 22px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: transparent;
    color: #fa315a;
    font-size: 12px;
    margin-left: 4px;
    padding-inline: 8px;
}