#ccmmcw_scaffold {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

/* Input */

#ccmmcw_input_container {
    width: 92%;
    height: 30px;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 60px;
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 6px;
    z-index: 3;
}

#ccmmcw_icon {
    width: 15px;
    height: 15px;
    margin-inline: 8px;
}

#ccmmcw_input {
    flex: 1;
    display: flex;
    color: white;
    margin-right: 2px;
    background-color: transparent;
}

#ccmmcw_input::placeholder {
    color: #9e9e9e;
}

/* Feed list */

#ccmmcw_feed_list_container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
    z-index: 1;
}

#ccmmcw_search_feed_list_container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 100%;
    background-color: #333A45;
    padding-bottom: 120px;
    z-index: 2;
}