#stpicw_scaffold {
    width: 100%;
    height: auto;
    overflow: visible;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    top: 0px;
    left: 0px;
    opacity: 1;
    scale: 1;
    z-index: 0;
    /* background-color: red; */
}

#stpicw_container {
    width: auto;
    height: auto;
    overflow: visible;
}