.comdmw_scaffold {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: #23272F;
    top: 0px;
    left: 0px;
    z-index: 0;
}

/* Feed List */

.comdmw_feed_list_container {
    width: 350px;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.comdmw_top_space {
    width: 1px;
    height: calc(var(--dashboard_header_height) + 2px);
}

.comdmw_feed_container {
    width: 350px;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
}

/* Feed default list */

.comdmw_feed_default_list {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
}

/* Feed search list */

.comdmw_feed_search_list {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Feed preview */

.comdmw_feed_preview {
    flex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comdmw_feed_preview_wrapper {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Bottom dock */

.comdmw_bottom_dock {
    width: auto;
    height: auto;
    overflow: visible;
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 25px;
    z-index: 100;
    transition: width 230ms, height 230ms;
}

.comdmw_bottom_dock::view-transition {
    width: auto;
    height: auto;
}

/* delete */

.comdmw_dock_del_icon_btn {
    width: 38px;
    height: 38px;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.comdmw_dock_del_icon {
    width: 16px;
    height: 16px;
    transition: width 230ms, height 230ms;
}

.comdmw_dock_del_icon_btn:hover {
    background-color: rgba(67, 70, 75, 0.7);
}

.comdmw_dock_del_icon_btn:hover .comdmw_dock_del_icon {
    width: 18px;
    height: 18px;
}

.comdmw_dock_del_icon_btn:active .comdmw_dock_del_icon {
    width: 14px;
    height: 14px;
}

.comdmw_dock_del_confirm_container {
    width: 175px;
    height: auto;
    overflow: hidden;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 45px;
    padding-block: 6px;
    padding-inline: 6px;
    border-radius: 8px;
    opacity: 0.5;
    scale: 0.8;
    z-index: 2;
}

.comdmw_dock_del_confirm_message {
    width: auto;
    height: auto;
    font-size: 12px;
    color: white;
    text-align: center;
}

.comdmw_dock_del_confirm_icon {
    width: 60px;
    height: 60px;
}

.comdmw_dock_del_confirm_yes {
    width: 100%;
    height: 22px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    border-radius: 6px;
    margin-top: 8px;
    background-color: #007aff;
}

.comdmw_dock_del_confirm_no {
    width: 100%;
    height: 22px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fa315a;
    font-size: 12px;
    margin-top: 3px;
    background-color: transparent;
}

/* middle container */

.comdmw_dock_container {
    width: auto;
    height: 38px;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #525357;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
}

.comdmv_dock_backdrop_blur {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(35, 39, 47, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 100px;
    z-index: 0;
}

.comdmw_dock_wrapper {
    width: auto;
    height: 38px;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}

.comdmw_dock_icon_btn {
    width: 50px;
    height: 100%;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comdmw_dock_icon_wrapper {
    width: 50px;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comdmw_dock_icon {
    width: 18px;
    height: 18px;
    scale: 1;
    transition: scale 230ms;
}

.comdmw_dock_icon_wrapper:hover .comdmw_dock_icon {
    scale: 1.4;
}

.comdmw_dock_icon_wrapper:active .comdmw_dock_icon {
    scale: 1.25;
}

/* History container */

.comdmw_dock_history_container {
    width: auto;
    min-width: 150px;
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    display: none;
    flex-direction: column;
    bottom: 45px;
    padding-block: 6px;
    padding-inline: 4px;
    border-radius: 8px;
    z-index: 2;
}

.comdmw_dock_history_title {
    width: 100%;
    height: auto;
    color: #61DBFA;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    margin-bottom: 2px;
}

.comdmw_dock_history_btn {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 11.5px;
    border-radius: 6px;
    padding-inline: 6px;
    padding-block: 4px;
    white-space: nowrap;
}

.comdmw_dock_history_btn:hover {
    background-color: #333A45;
}

.comdmw_dock_history_date {
    width: auto;
    height: auto;
    color: #9e9e9e;
    font-size: 11.5px;
    white-space: nowrap;
    margin-left: 5px;
}

/* State container */

.comdmw_dock_state_container {
    width: auto;
    min-width: 150px;
    height: auto;
    overflow: hidden;
    position: absolute;
    display: none;
    flex-direction: column;
    bottom: 45px;
    padding-block: 6px;
    padding-inline: 4px;
    border-radius: 8px;
    z-index: 2;
}

.comdmw_dock_state_btn {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 11.5px;
    border-radius: 6px;
    padding-inline: 6px;
    padding-block: 4px;
    white-space: nowrap;
}

.comdmw_dock_state_btn:hover {
    background-color: #333A45;
}

/* navigation */

.comdmw_dock_container_nav {
    width: auto;
    height: 38px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #525357;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    background-color: rgba(35, 39, 47, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 100px;
}

.comdmw_dock_nav_icon_btn {
    width: 25px;
    height: 38px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comdmw_dock_nav_icon_btn:hover {
    background-color: rgba(67, 70, 75, 0.7);
}

.comdmw_dock_nav_icon {
    width: 14px;
    height: 14px;
}

.comdmw_dock_nav_icon_btn:active .comdmw_dock_nav_icon {
    width: 13px;
    height: 13px;
}

.comdmw_dock_nav_separator {
    width: 1px;
    height: 50%;
    background-color: #43464B;
}

/* Right bar */

.comdmw_right_bar {
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: rgba(51, 58, 69, 0.4);
}

/* state */

.comdmw_state_container {
    width: 90%;
    height: 40px;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 6px;
    padding-inline: 12px;
    bottom: 22px;
    border: 1px solid #525357;
    border-radius: 100px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    background-color: rgba(51, 58, 69, 0.05);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    z-index: 10;
}

.comdomw_state_btn_container {
    width: auto;
    height: 90%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 5px;
    padding-inline: 5px;
    border-radius: 100px;
    background-color: #007aff;
}

.comdomw_state_btn_container:hover {
    background-color: rgba(67, 70, 75, 0.2);
}

.comdomw_state_btn_title {
    width: auto;
    height: auto;
    font-size: 13px;
    color: white;
}

.comdomw_state_separator {
    width: 1px;
    height: 40%;
    background-color: red;
    /* background-color: rgba(85, 89, 95, 0.6); */
}



























































/* ----------------------------------------------------- Preview ----------------------------------------------------- */

.cfeprw_scaffold {
    width: 85%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23272F;
}

.cfeprw_spacer {
    width: 1px;
    height: calc(var(--dashboard_header_height) + 5px);
}

/* data */

.cfeprw_data_table {
    width: auto;
    max-width: 92%;
    height: auto;
    overflow: visible;
    position: relative;
    transition: width 400ms ease-out;
}

.cfeprw_data_table th {
    width: auto;
    max-width: 200px;
    height: auto;
    overflow: hidden;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    color: #007aff;
    font-size: 13px;
    /* animation: scroll_th 3s infinite linear; */
}

@keyframes scroll_th {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

.cfeprw_data_table td {
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;

    /* break word */
    word-break: break-all;
    overflow-wrap: break-word;

    text-align: start;
    vertical-align: top;
    color: white;
    font-size: 14px;
    padding-left: 6px;
}

.cfeprw_blurable {
    filter: blur(0px);
    transition: filter 0.2s ease-in-out;
}

.cfeprw_blur_on {
    filter: blur(20px);
}

.cfeprw_blur_off {
    filter: blur(0px);
}


/* input & textarea */

.cfeprw_data_input {
    width: 250px;
    height: 19px;
    overflow: hidden;
    position: relative;
    display: flex;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    padding-inline: 4px;
    background-color: #333A45;
}

.cfeprw_data_textarea {
    width: 500px;
    height: 350px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    padding-inline: 4px;
    background-color: #333A45;
}

/* Action */

.cfeprw_data_action_btn {
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.cfeprw_data_done_btn {
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background-color: #007aff;
    padding-inline: 10px;
    padding-block: 1px;
    border-radius: 6px;
}

.cfeprw_data_cancel_btn {
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fa315a;
    padding-inline: 10px;
    padding-block: 1px;
    border-radius: 6px;
    margin-left: 4px;
}



















































/* ------------------------------------------------------ Feed ------------------------------------------------------ */

.comfew_scaffold {
    width: 96%;
    height: auto;
    min-height: 40px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding-inline: 4px;
    padding-block: 10px;
    margin-block: 3px;
}

.comfew_scaffold:hover {
    background-color: rgba(149, 167, 189, 0.12);
}

/* Object */

.comfew_object_container {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.comfew_object_title {
    flex: 1;
    height: auto;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

/* Actions */

.comfew_action_container {
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 100px;
    padding-inline: 4px;
    background-color: rgba(75, 77, 82, 0.8);
    z-index: 5;
}

.comfew_action_separator {
    width: 1px;
    height: 60%;
    background-color: rgba(158, 158, 158, 0.2);
}

.comfew_action_btn_wrapper {
    width: 28px;
    height: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comfew_action_btn_icon {
    width: 13.5px;
    height: 13.5px;
}

/* - */

.comfew_container {
    width: auto;
    height: auto;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 0px;
}

.comfew_icon_container {
    width: 20px;
    height: auto;
}

.comfew_icon {
    width: 12px;
    height: 12px;
}

.comfew_agence_icon {
    width: 13.5px;
    height: 13.5px;
    margin-left: -2px;
}

.comfew_Timestamp_icon {
    width: 11px;
    height: 11px;
}

.comfew_title {
    width: auto;
    height: auto;
    overflow: hidden;
    font-size: 13px;
    color: #9e9e9e;
}

/* - */

.comfew_bottom_line {
    width: 30%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(51, 58, 69, 0.9);
}