.comfew_scaffold {
    width: 96%;
    height: auto;
    min-height: 40px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding-inline: 4px;
    padding-block: 10px;
}

.comfew_scaffold:hover {
    background-color: rgba(149, 167, 189, 0.12);
}

/* Object */

.comfew_object_container {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.comfew_object_title {
    flex: 1;
    height: auto;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

/* Actions */

.comfew_action_container {
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 100px;
    padding-inline: 4px;
    background-color: rgba(75, 77, 82, 0.8);
    z-index: 5;
}

.comfew_action_separator {
    width: 1px;
    height: 60%;
    background-color: rgba(158, 158, 158, 0.2);
}

.comfew_action_btn_wrapper {
    width: 28px;
    height: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comfew_action_btn_icon {
    width: 13.5px;
    height: 13.5px;
}

/* - */

.comfew_container {
    width: auto;
    height: auto;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 0px;
}

.comfew_icon_container {
    width: 20px;
    height: auto;
}

.comfew_icon {
    width: 12px;
    height: 12px;
}

.comfew_agence_icon {
    width: 13.5px;
    height: 13.5px;
    margin-left: -2px;
}

.comfew_Timestamp_icon {
    width: 11px;
    height: 11px;
}

.comfew_title {
    width: auto;
    height: auto;
    overflow: hidden;
    font-size: 13.5px;
    color: #9e9e9e;
}

/* - */

.comfew_bottom_line {
    width: 30%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(51, 58, 69, 0.9);
}