.cfeprw_scaffold {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    left: 0px;
    background-color: #23272F;
}

.cfeprw_spacer {
    width: 1px;
    height: calc(var(--dashboard_header_height) + 5px);
}

/* data */

.cfeprw_data_table {
    width: auto;
    max-width: 92%;
    height: auto;
    overflow: visible;
    position: relative;
    transition: width 400ms ease-out;
}

.cfeprw_data_table th {
    width: auto;
    max-width: 200px;
    height: auto;
    overflow: hidden;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    color: #007aff;
    font-size: 13px;
    /* animation: scroll_th 3s infinite linear; */
}

@keyframes scroll_th {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

.cfeprw_data_table td {
    width: auto;
    height: auto;
    overflow: hidden;
    text-align: start;
    vertical-align: top;
    color: white;
    font-size: 14px;
    padding-left: 6px;
}

.cfeprw_blurable {
    filter: blur(0px);
    transition: all 0.11s ease-in-out;
}

/* input & textarea */

.cfeprw_data_input {
    width: 250px;
    height: 19px;
    overflow: hidden;
    position: relative;
    display: flex;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    padding-inline: 4px;
    background-color: #333A45;
}

.cfeprw_data_textarea {
    width: 500px;
    height: 350px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    padding-inline: 4px;
    background-color: #333A45;
}

/* Action */

.cfeprw_data_action_btn {
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.cfeprw_data_done_btn {
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background-color: #007aff;
    padding-inline: 10px;
    padding-block: 1px;
    border-radius: 6px;
}

.cfeprw_data_cancel_btn {
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fa315a;
    padding-inline: 10px;
    padding-block: 1px;
    border-radius: 6px;
    margin-left: 4px;
}