/*  */

body {
    margin: 0;
    padding: 0;
    background-color: #23272F;
    font-size: 14;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div {
    box-sizing: border-box
}

p {
    box-sizing: border-box
}

input {
    box-sizing: border-box;
    padding-inline: 8px;
    outline: none;
    resize: none;
}

textarea {
    box-sizing: border-box;
    padding-inline: 8px;
    outline: none;
    resize: none;
}

button {
    box-sizing: border-box;
    border-width: 0;
}

.prevent_select {
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

/* ---------------------------------------------------  --------------------------------------------------- */

.btn_opacity:active {
    opacity: 0.5;
}

#mp_scaffold {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: block;
    background-color: #23272F;
    z-index: 100;
}