.stdmcw_scaffold {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #23272F;
    padding-top: 50px;
    top: 0px;
    left: 0px;
    z-index: 2;
}

/* Container */

#stdmcw_container {
    width: 100%;
    height: calc(100vh - var(--dashboard_header_height));
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: row;
}