.flw_scaffold {
    width: 100%;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    z-index: 1;
}

.flw_top_msg_container {
    width: auto;
    height: auto;
    color: #9e9e9e;
    font-size: 13px;
}










/* --------------------------------------------- Loader --------------------------------------------- */

.fllw_scaffold {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2;
}

.fllw_msg_container {
    width: 50%;
    min-width: 200px;
    height: auto;
    overflow: hidden;
    position: relative;
    color: #9e9e9e;
    font-size: 15px;
    text-align: center;
    margin-top: -100px
}