.flw_scaffold {
    width: 100%;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    z-index: 1;
}