#pm_scaffold {
    width: 100%;
    min-width: 1300px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #23272F;
    z-index: 2;
}

/* Menu */

#pm_menu {
    width: var(--panel_menu_width);
    min-width: 250px;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333A45;
}

#pm_scroll_area {
    width: 100%;
    flex: content;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Container */

#pm_container {
    width: var(--panel_container_width);
    min-width: 1000px;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #23272F;
}