.aaspfw_scaffold {
    width: var(--aafw_scaffold_width);
    height: 32px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: #333A45;
    color: white;
    font-size: 16px
}

/* "even" or "odd" */
.aaspfw_scaffold:nth-child(even) {
    background-color: transparent;
}

.aaspfw_checkbox_container {
    /* min-width => 50px */
    width: calc((var(--aafw_scaffold_with_hyphen_width) * 5) / 100);
    min-width: calc((var(--aafw_scaffold_with_hyphen_width) * 5) / 100);
    height: auto;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    /* background-color: violet; */
}

.aaspfw_checkbox {
    width: 18px;
    height: 18px;
}

.aaspfw_full_name {
    /* min-width => 300px */
    width: calc((var(--aafw_scaffold_with_hyphen_width) * 30) / 100);
    min-width: calc((var(--aafw_scaffold_with_hyphen_width) * 30) / 100);
    height: auto;
    position: relative;
    text-align: center;
    /* background-color: red; */
}

.aaspfw_username {
    /* min-width => 200px */
    width: calc((var(--aafw_scaffold_with_hyphen_width) * 20) / 100);
    min-width: calc((var(--aafw_scaffold_with_hyphen_width) * 20) / 100);
    height: auto;
    text-align: center;
    /* background-color: orange; */
}

.aaspfw_rights {
    /* width => 150px */
    width: calc((var(--aafw_scaffold_with_hyphen_width) * 15) / 100);
    min-width: calc((var(--aafw_scaffold_with_hyphen_width) * 15) / 100);
    height: auto;
    text-align: center;
    /* background-color: blue; */
}

.aaspfw_status {
    /* width => 150px */
    width: calc((var(--aafw_scaffold_with_hyphen_width) * 15) / 100);
    min-width: calc((var(--aafw_scaffold_with_hyphen_width) * 15) / 100);
    height: auto;
    text-align: center;
    /* background-color: green; */
}

/* Action btn */

.aaspfw_action_btn_container {
    /* width => 150px */
    width: calc((var(--aafw_scaffold_with_hyphen_width) * 15) / 100);
    min-width: calc((var(--aafw_scaffold_with_hyphen_width) * 15) / 100);
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* background-color: magenta; */
}

.aaspfw_action_btn_icon {
    width: 20px;
    height: 20px;
}

/* - */

.aaspfw_hyphen {
    width: var(--hyphen_width);
    height: 1px;
    background-color: #ccc;
}